{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	lang="{{ LANGUAGE_CODE|default:"en-us" }}" 
	xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" 
	{% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
	<head>
		{% block extrastyle %}{% endblock %}
		{% block extrahead %}{% endblock %}
		{% block blockbots %}
		<meta name="robots" content="NONE,NOARCHIVE" />
		{% endblock %}
	</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<!-- User scripts -->
{% block userscripts %}
	<script type="text/javascript">var media_prefix = {{ MEDIA_URL }};</script>
{% endblock %}
<!-- End User scripts -->
</body>
</html>
