{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>xanadu management</title>
	<link href="{% MEDIA_URL %}/css/main.css" rel="stylesheet" type="text/css" />
	{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body>
	<!-- Top navigation bar -->
	<div id="topNav">
		<div class="fixed">
			<div class="wrapper">
				<div class="backTo">
					<a href="#" title=""><img src="{% MEDIA_URL %}/images/icons/topnav/mainWebsite.png" alt="" />
						<span>Main website</span>
					</a>
				</div>
				<div class="userNav">
					<ul>
						<li><a href="#" title=""><img src="{% MEDIA_URL %}/images/icons/topnav/register.png" alt="" /><span>Register</span></a></li>
						<li><a href="#" title=""><img src="{% MEDIA_URL %}/images/icons/topnav/contactAdmin.png" alt="" /><span>Contact admin</span></a></li>
						<li><a href="#" title=""><img src="{% MEDIA_URL %}/images/icons/topnav/help.png" alt="" /><span>Help</span></a></li>
					</ul>
				</div>
				<div class="fix"></div>
			</div>
		</div>
	</div>
	<!-- Login form area -->
	<div class="loginWrapper">
		<div class="loginPanel">
			<div class="head">
				<h5 class="iUser">Login</h5>
			</div>
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}" id="valid" class="mainForm">
				{% csrf_token %}
				<fieldset>
					<div class="loginRow noborder">
						<label for="req1">Username:</label>
						<div class="loginInput">
							<input type="text" name="username" class="validate[required]" id="username" />
						</div>
						<div class="fix"></div>
					</div>
					<div class="loginRow">
						<label for="req2">Password:</label>
						<div class="loginInput"><input type="password" name="password" class="validate[required]" id="password" /></div>
						<div class="fix"></div>
					</div>
					<div class="loginRow">
						<div class="rememberMe">
							<input type="checkbox" id="check2" name="chbox" />
							<label>Remember me</label>
						</div>
						<input type="submit" value="Log me in" class="greyishBtn submitForm" />
						<div class="fix"></div>
					</div>
				</fieldset>
				<input type="hidden" name="next" value="{{ next }}" />
			</form>
		</div>
	</div>
	<!-- Footer -->
	<div id="footer">
		<div class="wrapper">
			<span>&copy; Copyright 2012. All rights reserved. xanadu by <a href="#" title="">Douda</a></span>
		</div>
	</div>
</body>
</html>
