.summary {
	 background-image: url(/training/media/images/training/details.gif) !important;
}

.reading {
	 background-image: url(/training/media/images/training/article.gif) !important;
}

.post-go {
	background-image: url(/training/media/images/training/post_go.gif) !important;
}

.tab-new {
	background-image: url(/training/media/images/training/tab_new.gif) !important;
}

.trainer-add {
	background-image: url(/training/media/images/training/new.png) !important;
}

.trainer-remove {
	background-image: url(/training/media/images/training/delete.png) !important;
}

.trainer-load {
	background-image: url(/training/media/images/training/refresh.png) !important;
}

.details {
	background-image: url(/training/media/images/training/details.gif) !important;
}

.open-all {
	background-image: url(/training/media/images/training/tabs.gif) !important;
}

.trainer {
	width: 16px;
	height: 16px;
	background-image: url(/training/media/images/training/request.png) !important;
}

.trainer-picker-url {
	float: left;
	width: 425px;
}
.trainer-picker-title {
/*    float: left;*/
	color: #777;
	font-size: 10px;
}

.trainer-list {
	padding: 0 3px 0 3px;
}

.trainer-list-item {
	margin-top: 3px;
	padding-left: 20px;
	font-size: 11px;
	line-height: 20px;
	cursor: pointer;
	background: url(/training/media/images/training/request.png) no-repeat 0 2px;
	border: 1px solid #fff;
}

.trainer-list .x-item-selected {
	font-weight: bold; 
	color: #15428B;
	background-color: #DFE8F6;
	border: 1px dotted #A3BAE9;
}

.trainer-list-item-hover {
	background-color: #eee;
}

.topic {
	padding: 2px 0 0 20px;
	background:transparent url(/training/media/images/training/post.gif) no-repeat;
}

.topic b {
	font-family: tahoma, verdana;
	display: block;
	color: #333;
}

.author: {
	color: #333
}

.post-date {
	font-weight:bold;
	color:#333;
}

.trainer-grid .x-grid-rowbody {
	margin: 5px 20px 10px 25px !important;
	color: #555;
	font-size: 11px;
}

/* Preview classes */

.preview .x-panel-body {
	background:#fff;
	color:#222;
	font:normal 12px tahoma,verdana,arial,sans-serif;
}

.preview .x-panel-body p {
	line-height:18px;
	margin:8px 0;
}

.preview .x-panel-body ul {
	margin-left:18px;
}

.preview .x-panel-body ul li {
	display:list-item;
	list-style-image:none !important;
	list-style-position:outside !important;
	list-style-type:disc !important;
	margin-left:18px;
}

.preview .x-panel-body pre, #preview .x-panel-body code {
	background:#f1f1f1;
	display:block;
}

.preview .x-panel-body h4.post-author {
	font-weight:normal;
	color:#555;
	font-size:11px;
}
.preview .x-panel-body span.post-date {
	font-weight:normal;
	color:#555;
	float:right;
	font-size:11px;
}
.preview .x-panel-body div.post-data {
	background:#f1f2f4;
	padding:5px;
	border-bottom:1px solid #dadadb;
}
.preview .x-panel-body div.post-body {
	padding:10px;
}